<% if header.present? %>

<div class="hero-wrapper">


<style>      
.jimbo{        
background-image: url("http://192.168.1.123/pexel-hero.jpg") ;
        background-size: cover;
        background-position: center 65%;
width:100%;
 height: auto;
position: relative;
      }  
</style>      

<% if header.image.present? %>
<!--<div class="jimbo">
</div> -->
          <%= image_tag(header.image.variant(:large),
                        class: "jimbo",
                        alt: header.image.title) %>
     <% else %>

   <video autoplay="autoplay" loop="loop" muted="muted" controls="controls" controlslist="nodownload nofullscreen noremoteplayback" disablepictureinpicture="true" src="hero.mp4"></video>

<!--      <div class="small-12 medium-6 column <%= "medium-9 small-centered text-center" unless header.image.present? %>">
 -->
<% end %>


    <div class="hero-content">
       <div class="row">
          <div class="column position-relative">
            <div class="hero-text">
              <span><%= header.label %></span>
              <h1><%= header.title %></h1>
              <p><%= header.description %></p>
             </div>

                <% if header.link_text.present? && header.link_url.present? %>
          <!--      <div class="small-12 medium-6 large-4 <%= "small-centered" unless header.image.present? %>"> -->
                    <%= link_to header.link_text, header.link_url, class: "hero-cta" %>
               <% end %>
         </div>
        
      </div>

   </div>  <!--end hero content-->
 
</div><!--end hero -->

<% end %>
